<h1>Hello</h1>

<%= form_with scope: :organization, url: organizations_path, local: true do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :address %><br>
        <%= form.text_area :address %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>

<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
    </tr>

    <% @organizations.each do |organization| %>
        <tr>
            <td><%= organization.name %></td>
            <td><%= organization.address %></td>
            <td><%= organization.description %></td>
        </tr>
    <% end %>
</table>
