<h1>Search organization</h1>
<h4>Search by name</h4>
<%= form_tag(organizations_search_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Search") %>
    <% end %>

    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
        </tr>
    <% @organizations.each do |organization| %>

        <tr>
            <td><%= organization.name %></td>
            <td><%= organization.address %></td>
            <td><%= organization.description %></td>
        </tr>

   <% end %>

    </table>
